name: Deploy to Contabo

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install PHP and Composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer:v2

      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Install dependencies
        run: |
          composer install --no-interaction --no-progress --prefer-dist
          npm install
      
      - name: Generate key
        run: php artisan key:generate

      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Create Database
        run: |


        
          mkdir -p database
          touch database/database.sqlite

      # - name: Run ESLint
      #   run: npm run lint // Will do this later | harold

      - name: Run Build Frontend Assets
        run: npm run build

      - name: Run database migrations
        run: php artisan migrate --env=testing --database=sqlite --force
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: database/database.sqlite

      # - name: Execute tests (Unit and Feature tests) via PHPUnit
        # run: php artisan test --parallel
        # env:
          # DB_CONNECTION: sqlite
          # DB_DATABASE: database/database.sqlite

  deploy_master:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    needs: tests

    steps:
      - name: Deploy to Production Environment
        uses: easingthemes/ssh-deploy@v5.0.3
        with:
          REMOTE_HOST: ${{ secrets.PRODUCTION_SERVER_IP }}
          REMOTE_USER: ${{ secrets.PRODUCTION_SERVER_USERNAME }}
          SSH_PRIVATE_KEY: ${{ secrets.PRODUCTION_SSH_KEY }}
          TARGET: "/var/www/html/officebnb"
          SCRIPT_AFTER: |
            echo "Contabo Production Deployment Started!"
            cd /var/www/html/officebnb
            git stash
            git pull origin master
            composer install --no-dev --no-interaction --prefer-dist --optimize-autoloader
            npm install
            php artisan optimize:clear
            php artisan clear-compiled
            php artisan vendor:publish --all
            php artisan migrate --force
            php artisan optimize
            composer dump-autoload
            sudo chown -R www-data:www-data /var/www/html/officebnb/storage
            sudo chown -R www-data:www-data /var/www/html/officebnb/bootstrap
            npm run build 2>/dev/null || npm run build
            php artisan up
            echo "Contabo Production Deployment Finished!"